---
interface Props {
  title?: string;
  description?: string;
}

const {
  title = 'Frontend Mentor | FAQ accordion',
  description = 'Frontend Mentor is a 100% free coding challenge by Frontend Mentor. It is intended to help you build projects and improve your coding skills.',
} = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link
      rel='icon'
      type='image/svg+xml'
      href='/src/assets/favicon-32x32.png'
    />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  *,
  *::after,
  *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
  }

  html {
    hanging-punctuation: first last;
  }

  body {
    min-height: 100svh;
    font-family: 'Work Sans', sans-serif;
    line-height: 1.5;
    max-width: 1440px;
  }

  img,
  picture,
  svg,
  video {
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 1rem;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
  }

  @media (prefers-reduced-motion: no-preference) {
    :has(:target) {
      scroll-behavior: smooth;
      scroll-padding-top: 3rem;
    }
  }

  /* Register your custom font family and tell the browser where to find it. */
  @font-face {
    font-family: 'Work Sans';
    src: url('/public/fonts/WorkSans-Italic-VariableFont_wght.ttf')
      format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Work Sans';
    src: url('/public/fonts/WorkSans-VariableFont_wght.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
</style>
